{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "@trejgun/eslint-config/presets/tsx"
  ],
  "globals": {
    "chrome": "readonly"
  },
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "import/no-webpack-loader-syntax": 0
  }
}
