{
  "root": true,
  "extends": [
    "@trejgun/eslint-config/presets/jsx"
  ],
  "globals": {
    "chrome": true
  },
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignorePattern": "^\\s+d=\"" // ignore path in svg icons
      }
    ],
    "import/no-webpack-loader-syntax": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "webpack.config.js"
        ]
      }
    ]
  }
}
