{
  "root": true,
  "extends": [
    "@trejgun/eslint-config/presets/js"
  ],
  "globals": {
    "XMLHttpRequest": "readonly",
    "CustomEvent": "readonly",
    "DOMParser": "readonly"
  },
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "import/no-webpack-loader-syntax": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "webpack.config.js"
        ]
      }
    ]
  }
}
